body {
  padding: 20px;
}

ul {
  font-size: 18pt;
  list-style-type: none;
  padding-top: 20px;
}

li {
  font-weight: 700;
  margin-bottom: 20px;
}

.spotify {
  border: none;
  border-radius: 12px;
  height: 352px;
  max-width: 675px;
  width: 100%;
}

.fa {
  color: #1DB954;
  font-size: 22pt;
}

div {
  font-size: 20pt;
  font-weight: 400;
  padding-left: 5px;
}
 
.time {
  font-size: 12pt;
  vertical-align: middle;
}